.card{
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
}

.btn{
    background: #13718E;
    border-radius: 19.5px;
    float: right; 
    border: none;
    width: 157px;
    height: 39px;
    left: 515px;
    top: 809px;
}

.star{
    width: 26px;
    height: 26px;
    left: 530px;
    top: 816px;
    background: rgba(255, 255, 255, 0.2);
}

.line{
    width: 72px;
    height: 2px;
    left: 0px;
    top: 10px;
    background: #04C3FF;
}

.card-title{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #3CD0FF;
}

.card-text{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #043953;
    float: right; 
}