#card{
    font-family: 'Raleway', sans-serif;
    margin: auto;
    padding: 0%;
}

#btn{
    background: #13718E;
    border-radius: 19.5px;
    float: right; 
    border: none;
    width: 157px;
    height: 39px;
    left: 515px;
    top: 809px;
}

#star{
    width: 26px;
    height: 26px;
    left: 530px;
    top: 816px;
    color: rgba(255, 255, 255, 0.2);
}


#title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    //letter-spacing: 6px;
    text-transform: uppercase;
    color: #3CD0FF;
}

#text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #043953;
    float: right; 
    margin-left: 65px;
}

//Inicio Estilos Modal - Alonso
.modal-body{
    background: rgba(1, 16, 23, 0.94);
}

.col {
    
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative; 
} 

.col iframe{
    
    height: 100%;
    left: 0;
    position: absolute; 
    top: 0;
    width: 100%;
} 

.modal-header {
    background: rgba(1, 16, 23, 0.94);
    
}
.close{
    
    color: white;
    font-size: 50px;
    
    margin-left: 700px;
   
} 

.footer{
    background: rgba(1, 16, 23, 0.94);
}

.footer h3 {
    display: flex;
    justify-content: left;
    align-content: flex-start;
    color: #04C3FF;
    font-family: 'Jura', sans-serif;
    font-size: 18px;
    padding-left: 30px;
    
}

.footer p {
     display: flex;
    justify-content: left;
    align-content: flex-start;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 12px;
    padding-left: 90px;
}

//Fin de los estilos del Modal - Alonso