#ftr{
    background-color: #043953;
    padding-top: 20px;   
}

#titulo{
    font-family: 'Jura', sans-serif;
    color: white;
    font-size: 50px;
    letter-spacing: 5px;  
}
#parrafo{
    width: 480px;
    font-size: 12px;
    color: white;
    text-align: justify;
}

#icono1{
    padding-left: 10px; 
}