.landing { 
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    background-color: #043953;
    height: 100%;
    width: 100%;
}
#logo {
    font-family: 'Jura', sans-serif;
    color: white;
    font-size: 200%;
    letter-spacing: 5px;
}
#logo:hover {
    color: #d9d9d9
}
#jumbotron{ 
    background: rgba(255,255,255,0);
    width: 45rem;
}
@media (max-width: 450px) {
    #jumbotronh{ 
    font-size: 210%;
    width: 25rem;
}
}
#lead{
    color: #3CD0FF;
}
#small{
    display: flex;
    align-items: center;
    justify-content: center;
}

