.landing { 
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    background-color: #043953;
    height: 100vh;
    width: 100vw;
}
#logo {
    font-family: 'Jura', sans-serif;
    color: white;
    font-size: 180%;
    letter-spacing: 5px;
}
#logo:hover {
    color: #d9d9d9
}
#lead{
    color: #3CD0FF;
    font-family: 'Jura', sans-serif;
}
#small{
    display: flex;
    align-items: center;
    justify-content: center;
}

