/* Colors */
$black: #464646;
$blackAlpha: rgba(#000, 0.12);
$lightGray: #cccccc;
$gray: #868686;
$darkGray: #666666;
$red: #e75854;
$white: #fafafa;
$darkWhite: #eeeeee;

/* Variables */

$anim: 250ms ease-in-out;

$triangleSize: 0.4rem;
$triangleRatio: 1.2;

$borderRadius: 0.2rem;

/* Placeholder */
%clearfix{
  *zoom: 1;
  
  &:before,
  &:after{
    content: " ";
    display: table;
  }
  &:after{ clear: both; }
}

/* Normalize */
ul, dl{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}
dd{
  -webkit-margin-start: 0;
}

/* Common style */

//html{ font-size: 62.5%; background: $white; }

// .body{
//   font-family: 'Lato', sans-serif;
//   color: $black;
//   font-size: 62.5%;
// }

// h1{
//   font-family: 'Playball', cursive;
//   font-size: 10rem;
//   font-weight: 700;
//   text-align: center;
//   color: $red;
//   overflow: visible;
  
//   margin: 3rem 0; // Cosmetic value
// }

// h2{
//   font-style: italic;
//   text-align: center;
//   font-weight: 300;
//   font-size: 1.8rem;
  
//   margin-bottom: 1.5em; // Cosmetic value
// }



main.day,
main.night{
  @extend %clearfix;
  margin-top: 6rem;
  font-size: 62.5%;
}

main.day,
main.night .inner{
  width: 30%;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 62.5%;
}
main.day{ margin-top: 6rem;
font-size: 62.5%; }

main.night{
  padding: 6rem 0;
  width: 100%;
  background: $black;
  
  .inner{
    width: 90%;
    max-width: 60rem;
  }
}

article{
  width: 60%;
  font-size: 62.5%;
  font-size: 62.5%;
}

main.day{
  article{
    float: left;
    margin: 0 2.5%;
    font-size: 62.5%;
  }
  
  article:first-of-type{ margin-left: 0; }
  article:last-of-type{ margin-right: 0; }
}

main.night article{
  margin: 0 auto;
}

/* Dropy style */
.dropy{
  position: relative;
	width: 100%;
  margin: 0 auto;
  font-size: 62.5%;
  margin-bottom: 1.5em; // Cosmetic value
}

.dropy__calendar{
  position: relative;
//   display: block;
  width: 50%;
//   border-bottom: 0.5px solid $blackAlpha;
  text-decoration: none;
  font-size: 1.3rem;
  //color: $black;
  cursor: pointer;
  
  span{
    //display: block;
    padding: 8rem ;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 30%;
  }

}

.dropy__title{
  position: relative;
  display: block;
  width: 80%;
  border-bottom: 1px solid $blackAlpha;
  text-decoration: none;
  font-size: 1.6rem;
  color: $black;
  cursor: pointer;
  
  span{
    display: block;
    padding: 1rem 3rem 1rem 1.5rem;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 62.5%;
  }


  transition: border-color $anim;

  &:hover{
    border-color: $gray;
  }
  &:after{
    content: "";
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    border-top: $triangleSize solid $gray;
    border-left: $triangleSize*$triangleRatio solid transparent;
    border-right: $triangleSize*$triangleRatio solid transparent;
    
  }
}

.dropy__content{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  
  ul{
    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: $borderRadius;
    max-height: 0;
    opacity: 0;
    
    transition: opacity $anim, max-height $anim;
    
    list-style: none;
    background: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    
    li:first-child a:hover{
      border-radius: 0.2rem 0.2rem 0 0;
    }
    li:last-child a{
      margin-bottom: 1.5rem;
      &:hover{
        border-radius: 0 0 0.2rem 0.2rem;
      }
    }
  }
  li a{
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
      
    color: $black;
    text-decoration: none;
    cursor: pointer;
    transition: background-color $anim, color $anim;
    
    &:hover{
      color: $darkGray;
      background-color: $darkWhite;
    }
  }
  .dropy__header{
    border-bottom: 1px solid $blackAlpha;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .selected{
    font-weight: 700 !important;
    color: $red;
  }
}
.dropy.open{
  .dropy__content ul{
    max-height: 10rem;
    overflow-y: scroll;
    opacity: 1;
    
  }
}

.dropy.dark{
  .dropy__title{
    border-color: $gray;
    color: $lightGray;
    
    &:hover{ border-color: $lightGray; }
  }
}
#btn{
    background: #13718E;
    border-radius: 19.5px;
    float: right; 
    border: none;
    width: 157px;
    height: 39px;
    left: 515px;
    top: 809px;
}

hr {
                clear:both;
                width: 96%;                
                border: 1px solid rgba(4, 57, 83, 0.5);
                height: 0.2px;
               
            }


            #line {
               
                float: left;
                width: 80vw;
                margin: auto            
            }

    

